* {
    font-family: "Public Sans", sans-serif;
  }
  :root{
    --main-color: #E8F9FD;
    --top-bar: #30A2FF;
    --showcase: #FFF5B8;
    --font-primary: #1C658C;
    --font-secondary: #979797;
  }
  body{
    background-color: var(--main-color);
  }


  .top-bar{
    background-color: var(--top-bar);
    font-size: 15px;
  }
  .top-bar p{
    padding: 5px;
    margin: 0;
  }

  .navbar {
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.4);
  }


