* {
  font-family: "Public Sans", sans-serif;
}
:root {
  --main-color: #f6f8eb;
  --top-bar: #30a2ff;
  --showcase: #fff5b8;
  --font-primary: #1c658c;
  --font-secondary: #979797;
}
body,
.b-color {
  background-color: var(--main-color) !important;
}

/* navbar */
.top-bar {
  background-color: var(--top-bar);
  font-size: 15px;
}
.top-bar p {
  padding: 5px;
  margin: 0;
}

/* showcase */
.showcase {
  background-color: var(--showcase);
}
.showcase h1 {
  /* font-size: 3rem; */
  font-weight: 700;
  color: var(--font-primary);
}
.showcase button {
  background-color: var(--font-primary);
}

/* sec-introduction */
.features-desc .desc {
  color: var(--font-secondary);
}

.product-container {
  height: 50em;
}
.product {
  width: 100%;
  height: 30em;
  background-image: url(img/background-blue.png);
  border-radius: 5px;
}

.catalog p,
.catalog-item p {
  color: var(--font-secondary);
}
.catalog button {
  background-color: var(--main-color);
  color: var(--top-bar);
  border: 1px solid var(--top-bar);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.catalog button:hover {
  background-color: var(--top-bar);
  color: white;
  border: 1px solid var(--top-bar);
}
