* {
  font-family: "Public Sans", sans-serif;
}

:root {
  --main-color: #f6f8eb;
  --top-bar: #30a2ff;
  --showcase: #fff5b8;
  --font-primary: #1c658c;
  --font-secondary: #979797;
}

body {
  background-color: var(--main-color);
}

/* navbar */
.top-bar {
  background-color: var(--top-bar);
  font-size: 15px;
}

.top-bar p {
  padding: 5px;
  margin: 0;
}



/* Content */
#content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-profile {
  width: 80%;
}

.profile-title {
  font-size: 40px;
  font-weight: bold;
}

.content-profile {
  display: flex;
  justify-content: space-between;
}

.profile-side {
  width: 25%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.profile-side-top {
  width: 100%;
  height: 25%;
  background: #30a2ff;
  background: linear-gradient(0deg, #30a2ff 0%, #ffffff 140%);
  background: -webkit-linear-gradient(0deg, #30a2ff 0%, #ffffff 140%);
  background: -moz-linear-gradient(0deg, #30a2ff 0%, #ffffff 140%);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-side-top img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: 20px;
}

.profile-user h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.profile-user p {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  color: #ffffff;
}


.profile-side-mid {
  width: 100%;
  height: 15%;
  background-color: #FFE7A0;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.profile-side-mid a {
  font-size: 26px;
  font-weight: 400px;
  margin: 0px;
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
}

.profile-side-mid a .bi {
  font-size: 36px;
}

.profile-side-mid a:hover {
  color: #5a5a5a;
}

.profile-side-bottom {
  width: 100%;
  height: 60%;
  background-color: rgba(206, 206, 206, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.profile-side-bottom .item {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.profile-side-bottom .item:nth-child(4) {
  border-radius: 0px 0px 10px 10px;
}

.profile-side-bottom .item a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400px;
  margin: 0px 0px 0px 15px;
}

.profile-side-bottom .item a .bi {
  font-size: 24px;
  margin-right: 5px;
}

.profile-side-bottom .item a:hover {
  color: #5a5a5a;
}

.profile-main {
  width: 72%;
  border-radius: 10px;
  background-color: rgba(206, 206, 206, 0.25);
}

.profile-main-top img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

#capture {
  font-size: 35px;
  position: absolute;
  top: 380px;
  left: 650px;
  color: #4594d5;
}

.profile-main-top a {
  text-decoration: none;
  color: #30a2ff;
  font-size: 18px;
  font-weight: bold;
}

.profile-main-top a .bi {
  font-size: 30px;
}

.form-profile {
  width: 100%;
}

.form-profile p {
  font-size: 25;
  font-weight: bold;
  margin-left: 3px;
}

.form-profile .form-control {
  width: 50%;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff !important;
  margin-bottom: 10px;
}

.kelamin {
  margin-bottom: 10px;
}

.form-check:nth-child(1) {
  margin-right: 20px;
}

/* FOOTER */

#footer {
  background-color: #000000;
  margin-top: 50px;
  padding-top: 1px;
  color: #ffffff;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
}

#formFooter h5 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
}

#formFooter p {
  font-size: 14px;
  font-weight: 400;
}

#linkFooter h5 {
  font-size: 18px;
  font-weight: 600px;
}

#linkFooter ul {
  margin-top: 30px;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}